.pointOfSaleWrapper {
    display: grid;
    width: 100%;
    height: 100%;
    background: black;

    grid-template-columns: auto 1fr;

    .navigationWrapper {
        width: 250px;
        height: 100%;
        background: lightsalmon;
    }

    .bodyWrapper {
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        justify-content: center;
        background: mediumpurple;

        .bodyContentWrapper {
            width: 1138px;
            height: 200%;
            background: chartreuse;
        }
    }
}
