.wrapper {
    width: 100%;
    height: auto;
    padding: 80px 0;

    @include flex(center, space-evenly);

    .messageWrapper {
        line-height: 30px;
        text-align: end;

        .specialText {
            color: $accent-color;
        }
    }
}
