.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 10px;
    grid-template-rows: 1fr 2fr;

    .taxBracketsWrapper {
        display: grid;
        width: 100%;
        height: 100%;
        gap: 10px;
        grid-template-rows: 36px 1fr;
    }

    .taxGroupsWrapper {
        display: grid;
        width: 100%;
        height: 100%;
        gap: 10px;
        grid-template-rows: 36px 1fr;
    }
}
