.wrapper {
    display: grid;
    width: 100%;

    align-items: center;
    gap: 10px;
    grid-template-columns: auto 1fr;

    .actionsWrapper {
        @include flex(center, space-between);

        .actions {
            @include flex(flex-start, center, $gap: 10px);
        }
    }
}
