.wrapper {
    width: 200px;
    height: 40px;
    padding: 0 5px;
    padding-left: 8px;
    background-color: transparent;
    border-radius: $border-radius-cirular;
    cursor: pointer;
    transition: all $animation-duration-short ease;
    transition-property: color, background-color, width;
    user-select: none;

    @include flex(center, space-between);
}

.wrapper:hover {
    background-color: $backgroundTertiary-color;
}

.wrapperMini {
    width: 160px;
}

.wrapperDisabled {
    color: $foregroundTertiary-color;
    cursor: default;
}

.wrapperDisabled:hover {
    background-color: transparent;
}

.avatar {
    flex-grow: 0;
}

.wrapperSelected {
    background-color: $primaryLight-color;
}

.wrapperSelected:hover {
    background-color: $primaryLight-color;
}

.title {
    flex-grow: 10;
    color: $foregroundPrimary-color;
}

.titleSelected {
    color: $primary-color;
}

.titleMini {
    padding-left: 15px;
}

.titleDisabled {
    color: $foregroundTertiary-color;
}

.trailingIcon {
    flex-grow: 0;

    margin-right: 10px;
    color: $foregroundPrimary-color;
    transform-origin: center;

    transition: all $animation-duration-short ease;
    transition-property: transform, color;

    @include flex(center, center);
}

.trailingIconSelected {
    color: $primary-color;
}

.trailingIconChildTilesVisible {
    transform: rotate(90deg);
    transform-origin: center;
}

.trailingIconDisabled {
    color: $foregroundTertiary-color;
}
