.logoHolderWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
}

.logoImage {
    width: 38px;
    height: 38px;
}

.logoTitle {
    font-size: 28px;
    font-weight: bold;
    color: $foreground_primary;
    letter-spacing: 2px;
}
