.wrapper {
    width: 40px;
    min-width: 20px;
    height: 40px;
    min-height: 20px;
    background-color: red;
    border-radius: $border-radius-cirular;
    cursor: pointer !important;
    font-weight: 600;
    transition: all $animation-duration-short ease;
    transition-property: color, background-color, opacity;
    user-select: none;
    @include flex(center, center);

    &:hover {
        opacity: 0.8;
    }
}

.smallWrapper {
    width: 30px;
    height: 30px;
}

.disabled {
    background-color: transparent !important;
    color: $foregroundTertiary-color !important;
    cursor: default !important;
}

.selected {
    background-color: $primaryLight-color !important;
    color: $primary-color !important;
}

.unselected {
    background-color: transparent !important;
    color: $foregroundPrimary-color !important;
}

.selectedNoBg {
    background-color: transparent !important;
    color: $primary-color !important;
}
