.frameDimension {
    width: 100%;
    height: 100%;
}

.childrenContent {
    animation: fadeIn 0.3s ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
