.tableWrapper {
    width: 100%;
    height: 100%;
}

.textContent {
    display: -webkit-box;
    overflow: hidden;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.link {
    color: $primaryDark-color;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.rowActions {
    width: 100%;
    @include flex(center, space-between);

    .minActions {
        @include flex(center, flex-end, $gap: 12px);
    }
}
