.breadCrumbsWrapper {
    width: auto;
    height: auto;
    user-select: none;
}

.breadCrumbsContainer {
    width: auto;
    height: 16px; // incase of images ( in future breadcrumbs)
    color: $foregroundSecondary-color;
    font-size: $h6-fontsize;
    font-weight: normal;
    line-height: 16px;
    @include flex(center, flex-start);
}

.breadCrumb {
    @include flex(center, center);
    padding: 5px 5px;
    border-radius: 5px;
}

.breadCrumbNode {
    @include flex(center, center);
}

.currentBreadCrumbsNode {
    font-weight: 600;
}

.breadCrumbWithLink {
    cursor: pointer;

    &:hover {
        // background-color: $backgroundSecondary-color;
        text-decoration: underline;
    }
}

.avatarHolder {
    width: 40px;
    height: 40px;
}

.iconHolder {
    margin-right: 5px;
}

.titleHolder {
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadCrumbSeparator {
    margin: 0 -5px;
    margin-bottom: 1px;
    font-size: 25px;
    opacity: 0.4;
}
