.breadCrumbsWrapper {
    width: auto;
    height: auto;
    user-select: none;
}

.breadCrumbsContainer {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    line-height: 16px;
    height: 16px; // incase of images ( in future breadcrumbs)
    font-weight: normal;
    color: $foreground_secondary;
    padding-left: 10px;
}

.breadCrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 5px;
}

.breadCrumbNode {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadCrumbWithLink {
    cursor: pointer;
    &:hover {
        background-color: $background_highlight;
    }
}

.iconHolder {
    margin-right: 5px;
}

.titleHolder {
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.breadCrumbSeparator {
    font-size: 25px;
    margin-bottom: 1px;
    opacity: 0.4;
    margin: 0 -5px;
}
