.dashboardWrapper {
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-template-columns: auto 1fr;

    .leftNavWrapper {
        width: 80px;
        height: 100%;
        background: white;
    }

    .bodyWrapper {
        display: grid;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: lightblue;

        grid-template-rows: auto 1fr;

        .topNavWrapper {
            width: 100%;
            height: 50px;
            background: lightcoral;
        }

        .pageBodyWrapper {
            width: 100%;
            height: 100%;
            background: lightgreen;
        }
    }
}
