.wrapper {
    width: auto;
    height: 30px;
    user-select: none;
    @include flex(center, center, row, 4px);

    .poweredBy {
        color: $foregroundPrimary-color;
    }

    .logoSpace {
        height: 100%;
        padding: 0px 5px;
        padding: 0 6px;
        border-radius: $border-radius;
        cursor: pointer;
        transition: background-color 0.2s ease;
        @include flex(center, center, row, 4px);

        &:hover {
            background-color: $backgroundSecondary-color;
        }

        .logo {
            width: 16px;
            height: auto;
        }

        .logoText {
            width: 50px;
            height: auto;
        }
    }
}
