.wrapper {
    width: auto;
    height: 30px;
    @include flex(center, center, row, 4px);

    .poweredBy {
        color: $foregroundPrimary-color;
    }

    .logoSpace {
        height: 100%;

        padding: 0px 5px;

        @include flex(center, center, row, 4px);

        cursor: pointer;

        &:hover {
            background-color: $backgroundSecondary-color;
        }

        .logo {
            width: 16px;
            height: auto;
        }

        .logoText {
            width: 50px;
            height: auto;
        }
    }
}
