.wrapper {
    width: 150px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo {
    height: 16px;
    width: 16px;
}

.logoSpace {
    height: 30px;

    flex-grow: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.logoText {
    width: 50px;
}

.poweredBy {
    flex-grow: 0;
    color: $foregroundPrimary-color;
}
