.wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .billHolderWrapper {
        overflow: auto;
        width: 100%;
        height: 100%;
        background-color: $backgroundQuarternary-color;

        @include scrollBarOnHover();

        .billWrapper {
            margin: auto;
            margin-top: 10%;
            margin-bottom: 100px;
        }
    }
}
