@mixin animation(
    $name: '',
    $duration: 0.5s,
    $fillMode: both,
    $timingFunction: ease,
    $direction: normal,
    $delay: 0s,
    $iterationCount: 1,
    $playstate: running
) {
    /*  (number) https://developer.mozilla.org/en-US/docs/Web/CSS/animation-delay */
    animation-delay: $delay;

    /*  (normal | reverse | alternate | alternate-reverse) https://developer.mozilla.org/en-US/docs/Web/CSS/animation-direction */
    animation-direction: $direction;

    /*  (infinite | number) https://developer.mozilla.org/en-US/docs/Web/CSS/animation-iteration-count */
    animation-duration: $duration;

    /*  (none | forwards | backwards | both) https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode */
    animation-fill-mode: $fillMode;

    /*  (number) // https://developer.mozilla.org/en-US/docs/Web/CSS/animation-duration */
    animation-iteration-count: $iterationCount;
    /*  (name of the animation) (@keyframes) https://developer.mozilla.org/en-US/docs/Web/CSS/animation-name */
    animation-name: $name;

    /*  (running | paused) https://developer.mozilla.org/en-US/docs/Web/CSS/animation-play-state */
    animation-play-state: $playstate;

    /*  (ease | ease-in | ease-out | ease-in-out | linear | step-start | step-end) https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function */
    animation-timing-function: $timingFunction;
    --webkit-animation-name: $name;
    --webkit-animation-duration: $duration;
    --webkit-animation-fill-mode: $fillMode;
    --webkit-animation-timing-function: $timingFunction;
    --webkit-animation-direction: $direction;
    --webkit-animation-delay: $delay;
    --webkit-animation-iteration-count: $iterationCount;
    --webkit-animation-play-state: $playstate;
}

// keyframes
@keyframes fade-out {
    0% {
        display: inherit;
        opacity: 1;
    }
    90% {
        display: inherit;
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    10% {
        display: inherit;
        opacity: 0;
    }
    100% {
        display: inherit;
        opacity: 1;
    }
}

@keyframes rotate-180 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
