// foregrounds
$foreground_primary: '#FF9800';
$foreground_secondary: '#37352F';
$foreground_tertiary: '#A1A09C';
$foreground_white: '#FFFFFF';
// backgrounds
$background_primary: '#FFFFFF';
$background_secondary: '#F7F6F3';
$background_tertiary: '#ded2d2';
$background_highlight: '#DAD9D6';
$background_danger: '#DC3545';
// iconic color
$app_color: '#0EC120';
$plugin_color: '#1C73F5';
// status colros
$color_danger: '#DC3545';
$color_success: '#0EC120';
$color_warning: '#EDB203';
$color_info: '#1C73F5';
