/* we will be getting values from css varianbles , this would help in themeing  */
$success-color: var(--success-color);
$successLight-color: var(--successLight-color);
$successDark-color: var(--successDark-color);
$danger-color: var(--danger-color);
$dangerLight-color: var(--dangerLight-color);
$dangerDark-color: var(--dangerDark-color);
$warning-color: var(--warning-color);
$warningLight-color: var(--warningLight-color);
$warningDark-color: var(--warningDark-color);
$info-color: var(--info-color);
$infoLight-color: var(--infoDark-color);
$infoDark-color: var(--infoLight-color);
$auto-color: var(--auto-color);
$autoLight-color: var(--autoLight-color);
$autoDark-color: var(--autoDark-color);

$foregroundPrimary-color: var(--foregroundPrimary-color);
$foregroundSecondary-color: var(--foregroundSecondary-color);
$foregroundTertiary-color: var(--foregroundTertiary-color);
$foregroundLight-color: var(--foregroundLight-color);

$backgroundDark-color: var(--backgroundDark-color);
$backgroundPrimary-color: var(--backgroundPrimary-color);
$backgroundSecondary-color: var(--backgroundSecondary-color);
$backgroundTertiary-color: var(--backgroundTertiary-color);

$primary-color: var(--primary-color);
$primaryLight-color: var(--primaryLight-color);
$primaryDark-color: var(--primaryDark-color);
$accent-color: var(--accent-color);
$accentLight-color: var(--accentLight-color);
$accentDark-color: var(--accentDark-color);
