/* Values */
/* font-sizes */
$h1-fontsize: var(--h1-fontsize);
$h2-fontsize: var(--h2-fontsize);
$h3-fontsize: var(--h3-fontsize);
$h4-fontsize: var(--h4-fontsize);
$h5-fontsize: var(--h5-fontsize);
$h6-fontsize: var(--h6-fontsize);
$p-fontsize: var(--p-fontsize);
/* shadows */
$cardBoxShadow: var(--card-box-shadow);
