/* animation names */
.fadeInAnimation {
    animation-name: fadeInAnimationKeyFrames;
}


/* animation durations */
.durationPt5s {
    animation-duration: 0.5s;
}

.duration1s {
    animation-duration: 1s;
}

.duration1Pt5s {
    animation-duration: 1s;
}


/* animation timing functions */
.timingLinear {
    animation-timing-function: linear;
}

.timingEase {
    animation-timing-function: ease;
}

.timingEaseIn {
    animation-timing-function: ease-in;
}

.timingEaseOut {
    animation-timing-function: ease-out;
}

.timingEaseInOut {
    animation-timing-function: ease-in-out;
}



/* keyframes */
@keyframes fadeInAnimationKeyFrames {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}