@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 0.2rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

:root {
    // theming variables will be set dynamically from js (the following variables will assigned to scss variables in _colors.scss (which is used in all coloring thing internally))
    --primary-color: #ff9800;
    --secondary-color: #37352f;
    --tertiary-color: #a1a09c;
}
