.rst__rowWrapper {
    padding: 10px 10px 10px 0 !important;
}

.rst__rowSearchMatch {
    outline-color: $primary-color !important;
    outline-offset: 2px !important;
    outline-style: dashed !important;
}

.rst__moveHandle {
    background: $backgroundPrimary-color url('../assets/icons/DragHandle/dragHandle.svg') no-repeat
        center !important;
    border-radius: 3px !important;
}

.rst__rowContents {
    background-color: $backgroundPrimary-color !important;
    border-radius: 3px !important;
}

.rst__tree {
    background-color: transparent !important;
    // &::before {
    //     position: absolute !important;
    //     z-index: 1 !important;
    //     top: 0 !important;
    //     display: block !important;
    //     width: 100% !important;
    //     height: 2% !important;
    //     background-image: linear-gradient($backgroundPrimary-color, transparent) !important;
    //     content: '' !important;
    // }
    // &::after {
    //     position: absolute !important;
    //     bottom: 0 !important;
    //     display: block !important;
    //     width: 100% !important;
    //     height: 2% !important;
    //     background-image: linear-gradient(transparent, $backgroundPrimary-color) !important;
    //     content: '' !important;
    // }
}
