.rst__rowWrapper {
    padding: 10px 10px 10px 0;
}

.rst__rowSearchMatch {
    outline-color: $primary-color;
    outline-offset: 2px;
    outline-style: dashed;
}

.rst__moveHandle {
    background: $backgroundPrimary-color url('../assets/svgs/DragHandle/dragHandle.svg') no-repeat
        center;
    border-radius: 3px;
}

.rst__rowContents {
    background-color: $backgroundPrimary-color;
    border-radius: 3px;
}
