.subDomainSetupWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.subDomainSetupContainer {
    text-align: left;
    margin-top: 100px;
    width: 500px;
}

.subDomainSetupTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.formContainer {
    position: relative;
}

.inputGroup {
    position: relative;
    margin-top: 25px;
}

/* redirect action */
.redirectActionHolder {
    position: absolute;
    font-size: 20px;
    width: auto;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
