.storeNameWrapper {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    margin-top: 20px;
    @include flex(flex-end, center);

    p {
        display: -webkit-box;
        overflow: hidden;
        max-width: 100%;
        -webkit-box-orient: vertical;
        color: black;
        font-size: 24px;
        font-weight: 600;
        -webkit-line-clamp: 2;
        text-align: center;
        text-overflow: clip;
    }
}

.headerMessageWrapper {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    //background-color: red;
    @include flex(flex-start, center);

    p {
        display: -webkit-box;
        overflow: hidden;
        max-width: 100%;
        -webkit-box-orient: vertical;
        color: black;
        font-size: 12px;
        font-weight: 400;
        -webkit-line-clamp: 2;
        text-align: center;
        text-overflow: clip;
    }
}

.totalHeaderWrapper {
    padding: 5px 0;
    border: 2px solid black;
    border-radius: 5px;
    @include flex(center, center, column, 2px);

    .totalHeaderTitle {
        color: black;
        font-size: 14px;
        font-weight: 500;
    }

    .totalHeaderValue {
        display: -webkit-box;
        overflow: hidden;
        max-width: 200px;
        -webkit-box-orient: vertical;
        color: black;
        font-size: 22px;
        font-weight: 600;
        -webkit-line-clamp: 1;
        text-align: center;
        text-overflow: ellipsis;
    }
}
