.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 10px;
    grid-template-rows: 50px 1fr;

    .searchField {
        width: 200px;
    }

    .loaderSkeleton {
        width: 320px;
        margin: 20px;
        @include flex(center, space-between);

        .skeletonNode {
            @include flex(center, flex-start, $gap: 4px);
        }
    }

    .categoriesViewWrapper {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 50px 1fr;

        .categoriesView {
            overflow: auto;
            width: 100%;
            padding-bottom: 100px;
            margin-top: 0px;

            .categoryNameField {
                width: 200px;
                padding-bottom: 4px;
            }
            .controls {
                @include flex(center, flex-start, $gap: 5px);
            }
        }
    }
}

.categoryNameErrorWrapper {
    padding: 5px 10px;
    background-color: $dangerLight-color;
    h6 {
        color: $dangerDark-color;
    }
}
