.pageWithoutMenuWrapper {
    width: 100%;
    height: 100%;
    background-color: $backgroundSecondary-color;

    .pageHolder {
        width: 100%;
        height: 100%;
        background-color: $backgroundTertiary-color;

        .contentWrapper {
            width: 100%;
            max-width: 1138px;
            height: 100%;
            margin: 0 auto;
        }
    }
}
