.wrapper {
    width: 222px;
    height: 100%;

    padding: 10px 10px;
    background-color: $backgroundSecondary-color;

    @include flex(flex-start, space-between, column);
}

.upperTiles {
    @include flex(flex-end, flex-start, column, 10px);
}

.tileGroup {
    @include flex(flex-end, flex-start, column, 5px);
}

.childTiles {
    height: 0;
    transform: scale(0);
    transform-origin: top;
}

.childTileShow {
    height: 100%;
    transform: scale(1);
    transition: height 0.2s ease, transform 0.2s 0.2s ease;
}

.childTileHide {
    transition: height 0.2s 0.2s ease, transform 0.2s ease;
}
