.wrapper {
    width: 222px;
    height: 100%;

    padding: 10px 10px;
    background-color: $backgroundSecondary-color;

    @include flex(flex-start, space-between, column);
}

.upperTiles {
    @include flex(flex-end, flex-start, column, 10px);
}

.tileGroup {
    @include flex(flex-end, flex-start, column, 5px);
}
