.topNavbarWrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadCrumbsHolder {
    width: auto;
}

.notificationHolder {
    width: auto;
}
