.card {
    width: 300px;
    .media {
        position: relative;
        min-height: 145px;
        .thumbnail {
            width: 300px;
        }
    }
    &:hover {
        box-shadow: 2px 3px 5px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
            0px 1px 3px 0px rgb(0 0 0 / 12%);
    }

    .contentWrapper {
        padding-top: 10px;
        padding-bottom: 0;
        .content {
            height: 55px;
            @include flex(flex-start, flex-start, $direction: column, $gap: 5px);

            .pluginTitle {
                @include flex(center, flex-start, $gap: 8px);
                .logo {
                    width: 16px;
                }
                .titleText {
                    display: -webkit-box;
                    overflow: hidden;
                    max-width: 100%;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                }
            }
            .pluginContent {
                display: -webkit-box;
                overflow: hidden;
                max-width: 100%;
                -webkit-box-orient: vertical;
                color: $foregroundPrimary-color;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
            }
        }
    }
    .actionWrapper {
        padding-bottom: 10px;
        .pluginActions {
            width: 100%;
            @include flex(center, space-between);
        }
        .pluginActionsRHSSection {
            width: 44%;
            @include flex(center, flex-end, $gap: 10px);
        }
    }
}
