.card {
    width: 300px;
    height: auto;
    cursor: pointer;

    .mediaWrapper {
        // height: 160px;
        transition: transform 200ms ease;
    }

    &:hover > .mediaWrapper {
        transform: scale(0.9);
    }

    .contentWrapper {
        padding-top: 10px;
        padding-bottom: 0;
        .content {
            @include flex(flex-start, flex-start, $direction: column, $gap: 5px);

            .pluginTitle {
                @include flex(center, flex-start, $gap: 8px);
                .titleText {
                    display: -webkit-box;
                    overflow: hidden;
                    max-width: 100%;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                }
            }
            .pluginContent {
                display: -webkit-box;
                overflow: hidden;
                max-width: 100%;
                -webkit-box-orient: vertical;
                color: $foregroundPrimary-color;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
            }
        }
    }
    .actionWrapper {
        padding-bottom: 10px;
        .pluginActions {
            width: 100%;
            @include flex(center, space-between);
        }
        .pluginActionsRHSSection {
            width: 44%;
            @include flex(center, flex-end, $gap: 10px);
        }
    }
}
