.card {
    padding: 10px 0;
    .cardSummary {
        cursor: default !important;
        @include flex(center, space-between);

        .cardLHSComponents {
            width: 60%;
            height: 100%;
            @include flex(flex-start, center, column, 5px);

            .domainAddress {
                color: $primary-color;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .cardRHSComponents {
            width: 40%;
            height: 100%;
            @include flex(center, flex-end);

            .updateCardSummaryButton {
                opacity: 1;
                transition: opacity 0.2s ease;
            }
            .updateCardSummaryButtonInvisible {
                opacity: 0;
            }
        }
    }

    .cardDetails {
        width: 100%;
        height: 100%;
        @include flex(center, flex-start);

        .cardDetailsComponents {
            @include flex(flex-start, center, column, 5px);

            .helperTextSuccess {
                color: $success-color !important;
            }
            .cardActions {
                @include flex(center, flex-start, row, 10px);
                margin-bottom: 10px;
                .updateCardActionButton {
                    padding-right: 30px;
                    padding-left: 30px;
                }

                .cancelCardActionButton {
                    padding-right: 20px;
                    padding-left: 20px;
                    border-color: $danger-color;
                    color: $danger-color;
                }
            }
        }
    }
}
