.wrapper {
    width: 100%;

    .costGroup {
        width: 100%;
        @include flex(center, space-between, $gap: 10px);
    }

    .randomGroup {
        width: 100%;
        @include flex(center, space-between, $gap: 10px);
    }
}
