.cardWrapper {
    width: 543px;
    height: 65px;
    box-shadow: $cardBoxShadow;
    @include flex(center, space-between);
    .productMeta {
        @include flex(center, flex-start, $gap: 10px);

        .icon {
            height: 65px;
        }

        .title {
            display: -webkit-box;
            overflow: hidden;
            max-width: 100%;
            -webkit-box-orient: vertical;
            color: $foregroundPrimary-color;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
        }
    }
    .productPrice {
        min-width: 130px;
        @include flex(center, center);
    }
}
