.leftnavWrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.leftNavContainer {
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $background_secondary;
    padding: 10px 0;
    display: grid;
    grid-template-rows: 50px 1fr 60px;
    user-select: none;
}

.logoHolder {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menuHolder {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.profileHolder {
    width: 100%;
    height: 100%;
}
