.cartSectionWrapper {
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    gap: 5px;
    grid-template-rows: auto 1fr auto;

    .cartActionsWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .cartTableWrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .cartSummaryWrapper {
        padding: 10px;
        background-color: $backgroundPrimary-color;
    }
}
