.notificationWrapper {
    width: auto;
    height: auto;
    margin-right: 20px;
}

.notificationContainer {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $foreground_tertiary;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    &:hover {
        background-color: $background_highlight;
    }
}

.notificationActive {
    border-radius: 50%;
    background-color: $background_highlight;
}

.notificationCounter {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $background_danger;
    color: $foreground_white;
    font-size: 10px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
