.wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10px 20px;

    .mainTableActionsWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .rowActions {
        width: 100%;
        @include flex(center, flex-end, $gap: 20px);

        .minActions {
            @include flex(center, flex-end, $gap: 12px);
        }
    }

    .link {
        display: -webkit-box;
        overflow: hidden;
        max-width: 100%;
        -webkit-box-orient: vertical;
        color: $primaryDark-color;
        cursor: pointer;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        &:hover {
            text-decoration: underline;
        }
    }
}
