.wrapper {
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
    border-radius: $border-radius;

    transition: all $animation-duration-short ease;
}

.wrapperExpanded {
    width: 200px;
}

.wrapperSelected {
    background-color: $primaryLight-color;
}

.title {
    color: $foregroundPrimary-color;
    display: none;
}

.titleExpanded {
    display: block;
}

.titleSelected {
    color: $primary-color;
}
