.wrapper {
    width: 40px;
    height: 40px;

    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
    border-radius: $border-radius;

    transition: all $animation-duration-short ease;
    transition-property: color, background-color, width;
}

.wrapper:hover {
    background-color: $backgroundTertiary-color;
}

.wrapperExpanded {
    width: 200px;
}

.wrapperSelected {
    background-color: $primaryLight-color;
}

.wrapperWorkSpaceIndicator {
    background-color: transparent;
}

.wrapperWorkSpaceIndicator:hover {
    background-color: transparent;
}

.title {
    color: $foregroundPrimary-color;
    display: none;
}

.titleExpanded {
    display: block;
}

.titleSelected {
    color: $primary-color;
}
