.wrapper {
    width: 40px;
    height: 40px;

    background-color: transparent;
    border-radius: $border-radius;
    cursor: pointer;
    transition-duration: $animation-duration-short;
    transition-property: color, background-color, width;

    transition-timing-function: ease;

    user-select: none;

    @include flex(center, flex-start);

    &:hover {
        background-color: $backgroundSecondary-color;
    }
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.wrapperExpanded {
    width: 200px;
}

.wrapperSelected {
    background-color: $primaryLight-color;
}

.wrapperWorkSpaceIndicator {
    background-color: transparent;
}

.wrapperWorkSpaceIndicator:hover {
    background-color: transparent;
}

.title {
    display: none;
    color: $foregroundPrimary-color;
}

.titleExpanded {
    display: block;
}

.titleSelected {
    color: $primary-color;
}
