.wrapper {
    width: 40px;
    height: 40px;
    border-radius: $border-radius;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: color, background-color, width;
    transition-timing-function: ease;
    user-select: none;

    @include flex(center, flex-start, $gap: 8px);

    &:hover {
        background-color: $backgroundSecondary-color;
    }

    &.wrapperExpanded {
        width: 200px;
    }

    &.wrapperSelected {
        background-color: $primaryLight-color;
    }

    &.wrapperWorkSpaceIndicator {
        background-color: transparent;
    }

    .title {
        display: -webkit-box;
        overflow: hidden;
        max-width: 100%;
        -webkit-box-orient: vertical;
        color: $foregroundPrimary-color;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        text-overflow: ellipsis;
        @include animation(fade-out, 0.1s);

        &.titleCollapsed {
            @include animation(fade-out, 0.1s);
        }

        &.titleExpanded {
            @include animation(fade-in, 0.3s, $delay: 0.2s);
        }

        &.titleSelected {
            color: $primary-color;
        }

        &.titleLarge {
            font-size: $h4-fontsize;
        }
    }
}
