.wrapper {
    width: 25px;
    height: 25px;
    background-color: $primaryLight-color;
    border-radius: $border-radius-cirular;

    box-shadow: 0 0 5px 0 $backgroundTertiary-color;
    color: $primary-color;

    cursor: pointer;

    transition: all 0.2s ease;
    transition-property: background-color, color;

    @include flex(center, center);

    &:hover {
        background-color: $primary-color;
        color: $foregroundLight-color;
    }
}
